
{% extends 'base.html.twig' %}


{% block body %}

<h1> Bienvenue sur mon p'tit blog </h1>

<p> Yeet lorem(4)Symfony provides a web server built on top of this PHP server to simplify your local setup. This server is distributed as a bundle, so you must first install and enable the server bundle.</p>
<p> Yeet lorem(4)Symfony provides a web server built on top of this PHP server to simplify your local setup. This server is distributed as a bundle, so you must first install and enable the server bundle.</p>

{% endblock %}