
{% extends 'base.html.twig' %}


{% block body %}

<h1> Bienvenue sur mon p'tit blog </h1>

<p>Un magnifique blog codé avec Symfony4 ! </p>
<img class="fit-picture"
     src="https://steamuserimages-a.akamaihd.net/ugc/271723349513993884/AD73E80B5D1D0D984F46916BE6962336E7DA4669/"
     alt="Grapefruit slice atop a pile of other slices"
     height="200" width="350">


{% endblock %}